<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap style: https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>How frequent is this password?</title>
</head>

<body>
<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <form method="POST">
                    <label class="sr-only">Input content type</label>
                    <input type="text" class="form-control" name="content_type" placeholder="Input content type (pic, gif, caption, video_clip_user)">
                    <label class="sr-only">Input content lifetime</label>
                    <input type="text" class="form-control" name="content_lifetime" placeholder="Input content lifetime">
                    <button type="submit" class="btn btn-primary btn-block mt-2" name="action">Predict</button>
                </form>

                <form>
                    <div class="form-row mt-5">
                        <div class="col">
                            <label for="prediction_id">Best push hour</label>
                            <input type="text" class="form-control" id="prediction_id" placeholder="{{ best_hour }}"
                                   readonly>
                        </div>
                    </div>
                </form>
            </blockquote>
        </div>
    </div>
</div>

</body>
</html>
